[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
numpy = "*"
plotly = "*"
matplotlib = "*"
ipykernel = "*"
mysql-connector-python = "*"
gdal = {path = "./wheels/GDAL-3.4.2-cp39-cp39-win_amd64.whl"}
fiona = {path = "./wheels/Fiona-1.8.21-cp39-cp39-win_amd64.whl"}
pyproj = {path = "./wheels/pyproj-3.3.0-cp39-cp39-win_amd64.whl"}
rtree = {path = "./wheels/Rtree-0.9.7-cp39-cp39-win_amd64.whl"}
shapely = {path = "./wheels/Shapely-1.8.1.post1-cp39-cp39-win_amd64.whl"}
geopandas = "*"
folium = "*"
dash = "*"
psycopg2 = "*"

[dev-packages]

[requires]
python_version = "3.9"
